@use '@/styles/index' as *;

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 28px 20px;
  border: none;
  border-radius: 24px;
  background: var(--white);

  min-width: 345px;

  &::backdrop {
    background: rgba(0, 0, 0, 0.6);
  }

  .modal_title {
    @include title-md;
    color: var(--textColor-main);
  }

  .modal_description {
    @include text-sm;
    color: var(--textColor-less);
    margin-top: 8px;
    white-space: pre-line;
  }

  .modal_content {
    margin-top: 20px;
  }

  .modal_actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-top: 32px;
  }
}
