@use '@/styles/index' as *;

.container {
  position: fixed;
  z-index: 10;
  top: 0;
  margin: 0 auto;

  width: 100%;
  max-width: var(--max-width);
  background: var(--white);

  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: var(--divider-line);

  display: flex;
  justify-content: space-between;

  .back_button {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 16px 16px 16px 24px;

    .icon {
      display: flex;
      align-self: center;
    }

    .title {
      @include Paragraph-01;
      color: var(--gray-5);
    }
  }

  .more_button {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 16px 24px 16px 24px;

    .icon {
      display: flex;
      align-self: center;
    }
  }
}
