@use '@/styles/index' as *;

.container {
  position: relative;
  width: 100%;

  .concert_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;

    .title_contanier {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        @include title-md;
        color: var(--textColor-main);
      }

      .dropdown_container {
        display: flex;
        align-items: center;
        gap: 4px;

        .drop {
          @include text-sm;
          color: var(--textColor-main);
        }
      }
    }
  }
}
