@use '@/styles/index' as *;

.container {
  display: flex;
  width: 100%;
  padding: 20px 0px;
  flex-direction: column;
  gap: 28px;
  border-bottom: 1px solid var(--lineColor-main);

  .title_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;

    .title {
      @include title-sm;
      color: var(--textColor-main);
    }
    .image {
      width: 48px;
      height: 48px;
      border-radius: 100px;
      border: 1px solid var(--lineColor-sub);
    }
  }

  .info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 8px;

    .detail {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .category {
        @include text-xs;
        color: var(--textColor-less);
      }

      .info {
        @include text-md;
        color: var(--textColor-main);
      }
    }
  }
  .footer_container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .link {
      @include text-sm;
      color: var(--textColor-less);
      text-decoration: underline;
    }
    .current {
      @include title-sm;
      color: var(--textColor-main);
    }
    .past {
      @include title-sm;
      color: var(--subColor-main);
    }
  }
}
