@use '@/styles/index' as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    @include a11y-hidden;
  }

  .input_container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .input {
    @include text-sm;

    flex: 1;
    width: 100%;
    padding: 12px 0;

    align-items: center;
    border: none;
    outline: none;

    border-bottom: 1px solid var(--lineColor-main);
    color: var(--textColor-main);

    &::placeholder {
      color: var(--textColor-less);
    }

    &:disabled {
      border-radius: 12px;
      background: var(--lineColor-main);
      padding: 12px 16px;
    }

    &.left {
      &.with_icon {
        padding-left: 46px;
      }

      &.without_icon {
        padding-right: 16px;
      }
    }

    &.right {
      &.with_icon {
        padding-right: 64px;
      }

      &.without_icon {
        padding-right: 16px;
      }
    }

    &:focus {
      border-bottom: 1px solid var(--brand-main);
    }
  }

  .icon {
    position: absolute;
    top: 0;

    color: var(--gray-4);
    height: 100%;

    display: flex;
    align-items: center;

    &.left {
      left: 0;
      padding: 0 0 0 16px;
    }

    &.right {
      right: 0;
      padding: 0 16px 0 16px;
    }
  }
}
