.container {
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 100%;
  max-width: var(--max-width);
  height: 100dvh;

  .content {
    background: var(--white);

    @media screen and (min-width: 601px) {
      border-right: 1px solid var(--divider-line);
      border-left: 1px solid var(--divider-line);
    }

    &.with_app_header {
      // app-header 높이
      margin-top: 56px;
    }

    &.without_app_header {
      // app-bar 높이
      margin-top: 54px;
    }

    &.with_nav {
      // 바텀 네비게이션 높이 + 여유 공간 + safe-area-inset-bottom
      padding: 0 24px calc(84px + 40px + env(safe-area-inset-bottom)) 24px;
    }

    &.without_nav {
      //  여유 공간 + safe-area-inset-bottom
      padding: 0 24px calc(40px + env(safe-area-inset-bottom)) 24px;
    }
  }
}
