.container {
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 100%;
  max-width: var(--max-width);

  .header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    height: 54px;
  }

  .content {
    padding-left: 24px;
    padding-right: 24px;

    flex-grow: 1;
    width: 100%;
    background: var(--white);
    min-height: 100vh;

    &.with_nav {
      // 바텀 네비게이션 높이 + 여유 공간 + safe-area-inset-bottom
      padding-bottom: calc(84px + 48px + env(safe-area-inset-bottom));
    }

    &.without_nav {
      //  여유 공간 + safe-area-inset-bottom
      // padding-bottom: calc(48px + env(safe-area-inset-bottom));
      padding-bottom: calc(env(safe-area-inset-bottom));
    }

    &.no_padding {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
