@use '@/styles/index' as *;


.button{
    display: inline-flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ADD8E6;
    border-radius: 50px;

    .label{
        @include Heading-04;
        color: var(--gray-5);
    }
}