@use '@/styles/index' as *;

.container {
  .modal_title {
    @include title-md;
    color: var(--grayscale-700, #222);
    text-align: center;
  }

  .modal_description {
    @include text-sm;
    color: var(--grayscale-500, #767676);
    text-align: center;
  }

  .modal_actions {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
}
