@use '@/styles/index' as *;

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;

  height: 100%;

  .section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .section_title {
      @include title-sm;
      color: var(--grayscale-700, #222);

      display: flex;
      justify-content: space-between;
      gap: 4px;

      .required {
        @include title-sm;
        color: var(--primary-500, #ff6a6a);
      }

      .button {
        @include text-md;
        color: var(--grayscale-500, #767676);
        text-align: right;
      }
    }

    .wrapper {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .uploaded_images_container {
    display: flex;
    align-items: center;
    gap: 4px;
    overflow: hidden;
    overflow-x: auto;
  }

  .button_container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: flex-start;
    gap: 16px;
  }
}
