.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;

  .title {
    @include title-lg;
    color: var(--grayscale-700, #222);
  }

  .description {
    @include text-md;
    color: var(--grayscale-500, #767676);
  }

  .input_container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 12px;
    height: 100%;

    .phone_number_container {
      display: flex;
      align-items: center;
      gap: 12px;
      align-self: stretch;

      .phone_number_input {
        flex: 1;
      }
    }
  }
}
