@use '@/styles/index' as *;

.button {
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;

    .label {
        @include Heading-04;
    }
}

.bank-positive {
    background-color: var(--brand-main);
    color: var(--white);
}

.bank-negative {
    background-color: var(--gray-4);
    color: var(--white);
}

.d-day {
    background-color: #ADD8E6;
    color: var(--gray-5);
}
