@use '@/styles/index' as *;

.container {
  padding: 16px 24px;

  width: 100%;
  max-width: var(--max-width);
  background: var(--white);

  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    @include Heading-02;
    color: var(--brand-main);
  }

  .button_group {
    .button {
      @include expand-touch-area();
      height: 100%;
    }
  }
}
