@use '@/styles/index' as *;

.container {
  --app-bar-height: 54px;
  --bottom-nav-height: 69px;

  max-width: var(--max-width);
  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  .app_bar {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
  }

  .content {
    flex: 1;
    background: var(--grayscale-100, #fff);
  }

  .bottom_nav {
    position: fixed;
    bottom: 0;
    z-index: 20;
    margin: 0 auto;

    width: 100%;
    max-width: var(--max-width);
  }
}

/* AppBar가 보일 때만 상단 여백 부여 */
.container[data-app-bar-visible] .content {
  padding-top: var(--app-bar-height);
}

/* AppBar가 투명일 때는 상단 여백 제거 (우선순위로 덮어씀) */
.container[data-app-bar-transparent] .content {
  padding-top: 0;
}

/* BottomNav가 보일 때만 하단 여백 부여 */
.container[data-bottom-nav-visible] .content {
  padding-bottom: var(--bottom-nav-height);
}
