@use '@/styles/index' as *;

.container {
  --bottom-nav-height: 69px;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: var(--max-width);
  min-height: 100dvh;

  margin: 0 auto;

  .app_bar {
    position: fixed;
    top: 0;
    z-index: 20;

    width: 100%;
    max-width: var(--max-width);

    // 스크롤 시 그림자 효과
    transition: box-shadow 0.1s ease;

    // 스크롤 상태일 때 그림자 추가
    &[data-scrolled='true'] {
      /* DropSD_Header Scroll */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    }
  }

  .content {
    flex: 1;
    background: var(--grayscale-100, #fff);
  }

  .bottom_nav {
    position: fixed;
    bottom: 0;
    z-index: 20;
    margin: 0 auto;

    width: 100%;
    max-width: var(--max-width);
  }
}

/* BottomNav가 보일 때만 하단 여백 부여 */
.container[data-bottom-nav-visible] .content {
  padding-bottom: var(--bottom-nav-height);
}
