@use '@/styles/index' as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .button_container {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid var(--lineColor-main);
    background: var(--white);
  }
}
