@use '@/styles/index' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .list_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 41px;

    .subtitle {
      @include title-md;
      color: var(--textColor-main);
    }

    span {
      @include text-sm;
      color: var(--textColor-less);
    }
  }
}
