@use '@/styles/index' as *;

.button {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-sizing: border-box;
  border: 1px solid transparent; //border 1px을 기본값으로 설정

  &.large {
    width: 100%;
  }

  &.medium {
    width: 50%;
  }

  &.small {
    width: 33%;
  }

  &.border {
    border: 1px solid var(--brandColor-main);
    color: var(--brandColor-main);
  }

  &.fill {
    background: var(--brandColor-main);
    color: var(--white);
  }

  &.back {
    @include text-sm;
    border: 1px solid var(--lineColor-main);
    color: var(--textColor-less);
  }

  span {
    display: flex;
    align-items: center;
    @include text-md;
    text-align: center;
  }

  @media (hover: hover) {
    &:hover {
      background: var(--borderColor-borderHover);
    }

    &.fill:hover {
      background: var(--brandColor-fillHover);
    }

    &.back:hover {
      background: var(--white-less);
    }
  }
}
