@use '@/styles/index' as *;

.content_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--grayscale-100);
}

.title {
  @include title-md;
  color: var(--grayscale-700, #222);
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px 16px;
}

.grid_item {
  display: flex;
  grid-column: span 6;
  gap: 12px;
  text-align: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    border-color: var(--primary-500);
    background-color: var(--grayscale-50);
  }
}
