@use '@/styles/index' as *;

.container {
  display: flex;
  flex-direction: column;
  background: var(--white, #fff);
  height: 100%;

  .header_container {
    position: sticky;
    top: 54px;
    z-index: 10;
  }

  .messages_container {
    flex: 1;
    overflow-y: auto;
    background: var(--bgColor-main, #fafafa);
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
  }

  .input_container {
    position: sticky;
    bottom: 0;
    z-index: 100;
  }
}
