@use '@/styles/index' as *;

.container {
  display: flex;
  flex-direction: column;
  background: var(--white, #fff);

  .messages_container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: var(--bgColor-main, #fafafa);
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
