@use '@/styles/index' as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  width: 100%;

  padding: 12px 20px;

  .left_container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .concert_name {
    @include text-md;

    overflow: hidden;
    color: var(--grayscale-700, #222);
    text-overflow: ellipsis;
  }
}
