@use '@/styles/index' as *;

.container {
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  border-radius: 8px;

  &[data-variant='info'] {
    background: var(--secondary-100, #e6f6fb);
    color: var(--secondary-700, #0e4f65);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1;
  }

  .title {
    @include text-lg;
    color: inherit;
  }

  .description_container {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    .arrow {
      display: flex;
      justify-content: center;

      margin-top: 3px;
      width: 12px;
      height: 12px;
      fill: var(--secondary-700, #0e4f65);
      flex-shrink: 0;
    }

    .description {
      @include text-sm;
      color: inherit;
    }
  }
}
