@use '@/styles/index' as *;

.button {
  //기본, 공통
  @include text-sm;
  color: var(--textColor-less);

  display: inline-flex;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: none;
  cursor: pointer;

  .righticon_container {
    display: inline-flex;
    color: var(--textColor-less);
  }

  // 클릭했을 때
  &[data-active='true'] {
    @include text-md;
    color: var(--brandColor-main);
    border-bottom: 3px solid var(--brandColor-border);

    .righticon_container {
      color: var(--brandColor-main);
    }
  }
}
