@use '@/styles/index' as *;

.content_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .upper_container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-self: stretch;
    align-items: flex-start;

    span {
      @include text-md;
      color: var(--grayscale-500);
    }

    .info {
      @include text-md;
      color: var(--grayscale-500);
      margin-top: 4px;
    }

    .title_container {
      display: flex;
      align-items: flex-end;
      width: 100%;
      gap: 4px;

      .title {
        @include title-md;
        color: var(--grayscale-700);
      }

      .review_container {
        display: flex;
        align-items: center;

        .star {
          @include text-lg;
          color: var(--grayscale-700);
          margin-right: 4px;
        }
      }
    }
  }

  .button_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;

    a {
      width: 100%;
    }
  }
}
