@use '@/styles/index' as *;

.container {
  position: fixed;
  z-index: 10;
  top: 0;
  margin: 0 auto;
  padding: 0 24px 0 24px;

  width: 100%;
  max-width: var(--max-width);
  background: var(--white);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 601px) {
    border-right: 1px solid var(--divider-line);
    border-left: 1px solid var(--divider-line);
  }

  .title {
    @include Heading-02;
    color: var(--brand-main);
  }

  .button_group {
    display: flex;
    gap: 8px;

    .button {
      display: flex;
      align-items: center;
      gap: 8px;

      padding: 16px 8px 16px 8px;
    }
  }
}
