@use '@/styles/index' as *;

.container {
  border: 1px solid red;

  .search {
    display: flex;
    width: 100%;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background: var(--white-less);

    span {
      @include text-sm;
      color: var(--textColor-less);

      // 검색어를 입력햇을 때
      // color: var(--textColor-main);
    }
  }
  .recent_serarch_container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-top: 20px;

    .title {
      @include text-md;
      color: var(--textColor-main);
    }

    .delete {
      @include text-sm;
      color: var(--textColor-less);
    }

    .span_container {
      display: flex;
      justify-content: space-between;
    }
    .tag_container {
      display: inline-flex;
      align-items: center;
      gap: 8px;

      .tag {
        display: flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;

        border-radius: 999px;
        border: 1px solid var(--lineColor-main, #eee);

        @include text-xs;
        color: var(--textColor-main);
        flex-shrink: 0;
      }
    }
  }
}
