@use '@/styles/index' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .title {
    @include Heading-02;

    color: var(--gray-5);
  }

  .content {
    @include Heading-04;

    color: var(--gray-4);
  }
}
