@use '@/styles/index' as *;

.container {
  position: fixed;
  z-index: 10;
  bottom: 0;
  margin: 0 auto;
  padding: 0 24px env(safe-area-inset-bottom) 24px;

  width: 100%;
  max-width: var(--max-width);
  background: var(--white);

  box-shadow: 0px -15px 12px -12px rgba(0, 0, 0, 0.08);

  @media screen and (min-width: 601px) {
    border-right: 1px solid var(--divider-line);
    border-left: 1px solid var(--divider-line);
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    list-style: none;
  }

  .nav_item {
    flex: 1;
  }

  .nav_link {
    @include text-xs;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100%;
    padding: 12px 32px;

    color: var(--gray-4);
    text-align: center;
    &.active {
      color: var(--brandColor-main);
    }
  }
}
