.container {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: flex-start;

  border-radius: 8px;
  border: 1px solid var(--grayscale-300);
  background: var(--grayscale-100);

  .info_container {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1;

    .detail_container {
      display: flex;
      flex-direction: column;

      .title_row {
        display: flex;
        gap: 4px;
        align-items: center;
      }

      .bank_name {
        @include text-md;
        color: var(--grayscale-500);
      }

      .main_account {
        @include text-lg;
        color: var(--secondary-500);
      }

      .account_num {
        @include title-sm;
        color: var(--grayscale-700);
      }
    }
  }
}
