@use '@/styles/index' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 247px;

  .background_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 247px;
    z-index: 1;
    background-size: cover;
    background-position: center;
    overflow: hidden; //blur 밖으로 안나오도록 hidden 처리

    .background_image {
      width: 100%;
      height: 100%;
      filter: blur(4px);
    }
  }

  .info_container {
    position: relative;
    width: 100%;
    margin-top: -123.5px;
    z-index: 5;

    .tag_container {
      display: flex;
      gap: 8px;
      margin-top: 24px;
    }

    .title {
      @include title-md;
      color: var(--grayscale-700);
      margin-top: 8px;
    }

    .detail_container {
      display: flex;
      margin-top: 16px;

      .image {
        border-radius: 12px;
      }

      display: flex;
      flex-direction: column;
      gap: 4px;

      .detail {
        display: flex;
        width: 100%;
        gap: 12px;
        @include text-md;

        .category {
          flex: 1;
          color: var(--grayscale-500);
        }

        .info {
          display: flex;
          justify-content: flex-start;
          flex: 5;
          color: var(--grayscale-700);
        }
      }
    }
  }
}
