@use '@/styles/index' as *;

.container {
  padding: 0 24px;

  width: 100%;
  max-width: var(--max-width);
  background: var(--white);

  display: flex;
  justify-content: space-between;
  align-items: center;

  .left_container {
    display: flex;
    align-items: center;
    gap: 8px;

    .back_button {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 16px 0;
      color: inherit;

      .title {
        @include text-lg;
      }
    }
  }

  .right_container {
    .more_button {
      @include expand-touch-area();
    }
  }

  // app bar color type
  &.has_background {
    background: var(--white);
  }

  &.transparent {
    background: transparent;
    color: var(--white);
  }
}
