@use '@/styles/index' as *;

.select_trigger {
  &[data-variant='form'] {
    @include text-md;
    height: 54px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    padding: 16px;

    color: var(--grayscale-700, #222);

    border-radius: 8px;
    border: 1px solid var(--grayscale-300, #ededed);
    background: var(--grayscale-100, #fff);

    width: 100%;

    &::placeholder {
      color: var(--grayscale-500, #767676);
    }

    &[data-state='open'] {
      border: 1px solid var(--primary-400, #ff8989);
      background: var(--grayscale-100, #fff);
    }

    &:disabled {
      color: var(--grayscale-500, #767676);

      border: 1px solid var(--grayscale-300, #ededed);
      background: var(--grayscale-200, #fafafa);

      svg {
        display: none;
      }
    }
  }

  &[data-variant='filter'] {
    @include text-sm;

    display: inline-flex;
    padding: 8px 12px;
    align-items: center;
    gap: 4px;

    color: var(--grayscale-700, #222);

    border-radius: 8px;
    background: var(--grayscale-200, #fafafa);
  }
}

.select_content {
  display: flex;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  padding: 8px;

  border-radius: 8px;
  border: 1px solid var(--grayscale-300, #ededed);
  background: var(--grayscale-100, #fff);

  /* DropSD_DropDown */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);

  &[data-variant='form'] {
    width: var(--radix-popper-anchor-width);
  }

  &[data-variant='filter'] {
    width: 100%;
  }

  .select_viewport {
    width: 100%;

    .select_item {
      display: flex;
      align-items: center;
      align-self: stretch;
      width: 100%;
      padding: 12px 8px;

      color: var(--grayscale-700, #222);

      &:focus {
        outline: solid var(--gray-2);
      }

      &.active {
        background: var(--primary-600, #e55656);
        color: var(--white);
      }
    }

    .select_separator {
      margin: 8px 0;
      background-color: var(--divider-line);

      &:last-child {
        display: none;
      }

      &[data-orientation='horizontal'] {
        height: 1px;
        width: 100%;
      }

      &[data-orientation='vertical'] {
        width: 1px;
        height: 100%;
      }
    }
  }
}
