@use '@/styles/index' as *;

.container {
  display: flex;
  padding: 20px 0px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  .profile {
    width: 48px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid var(--lineColor-sub);
  }

  .info_container {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    flex: 1 0 0;

    .introduce {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      flex: 1 0 0;

      .nickname {
        @include title-sm;
        color: var(--textColor-main);
      }
    }

    .review {
      display: flex;
      align-items: center;
      gap: 4px;

      .star {
        @include text-md;
        color: var(--textColor-main);
        margin-right: 4px;
      }
    }
  }
}

.info_container span {
  @include text-sm;
  color: var(--textColor-less);
}
