@use '@/styles/index' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.empty_container {
  display: flex;
  width: 100%;
  padding: 16px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--grayscale-200, #fafafa);
}
