@use '@/styles/index' as *;

.container {
  background: var(--white, #fff);
  padding: 20px;
  height: 100%;

  .date_divider {
    @include text-md;
    display: flex;
    justify-content: center;
    color: var(--grayscale-700, #222);
    text-align: center;

    margin-top: 28px;

    &:first-child {
      margin-top: 0;
    }
  }

  .list_container {
    display: flex;
    margin-top: 12px;
    width: 100%;
    align-items: flex-start;
    gap: 16px;

    .profile_image_wrapper {
      flex-shrink: 0;
      width: 44px;
      height: 44px;

      .profile_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        display: block;

        &.hidden {
          display: none;
        }
      }
    }

    .message_container {
      display: flex;
      align-items: flex-end;
      gap: 16px;
      max-width: 70%;

      // 메세지가 텍스트 일 때
      .message_bubble {
        padding: 12px;
        word-break: break-word;
        border-radius: 12px;

        .text_message {
          @include text-sm;
        }
      }

      // 메세지가 이미지 일 때
      .image_bubble {
        background: none;
        padding: 0;

        // 이미지 메시지 스타일
        .image_message {
          display: flex;
          flex-wrap: wrap;
          gap: 4px;
          min-width: 230px;
          max-width: 230px;

          .chat_image {
            object-fit: cover;
            border-radius: 8px;
            border: 1px solid var(--grayscale-400, #ccc);
          }
        }
      }

      .message_time {
        @include text-xs;
        flex-shrink: 0;

        color: var(--grayscale-500, #767676);
      }
    }

    &.my_message {
      justify-content: flex-end;

      .message_container {
        display: flex;
        flex-direction: row-reverse;

        .message_bubble {
          border-radius: 8px;
          border: 1px solid var(--primary-500, #ff6a6a);
          background: var(--primary-500, #ff6a6a);
          color: var(--grayscale-100, #fff);
        }
      }
    }

    &.other_message {
      justify-content: flex-start;

      .message_container {
        .message_bubble {
          border-radius: 8px;
          border: 1px solid var(--grayscale-300, #ededed);
          background: var(--grayscale-200, #fafafa);
          color: var(--grayscale-700, #222);
        }
      }
    }
  }
}
