@use '@/styles/index' as *;

.toast {
  padding: 0;
  min-height: 0;
}

.container {
  @include text-md;

  display: flex;
  width: 100%;
  padding: 16px;
  align-items: center;
  margin: 0 20px;

  /* DropSD_FloatItems */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 8px;

  &[data-variant='default'] {
    color: var(--grayscale-700, #222);

    border: 1px solid var(--grayscale-400, #ccc);
    background: var(--grayscale-200, #fafafa);
  }

  &[data-variant='success'] {
    color: var(--system-success-700, #2e7d32);

    border-radius: 8px;
    border: 1px solid var(--system-success-300, #a5d6a7);
    background: var(--system-success-100, #e8f5e9);
  }

  &[data-variant='error'] {
    color: var(--primary-700, #cc4a4a);

    border-radius: 8px;
    border: 1px solid var(--primary-300, #ffa9a9);
    background: var(--primary-100, #ffeaea);
  }

  &[data-variant='warning'] {
    color: var(--system-warning-700, #f99502);

    border-radius: 8px;
    border: 1px solid var(--system-warning-300, #ffe082);
    background: var(--system-warning-100, #fff8e1);
  }

  &[data-variant='info'] {
    color: var(--secondary-700, #0e4f65);

    border-radius: 8px;
    border: 1px solid var(--secondary-300, #7ecce3);
    background: var(--secondary-100, #e6f6fb);
  }
}
