@use '@/styles/index' as *;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 12px;
    border: 1px solid var(--brand-main);
    padding: 12px 24px;
    gap: 10px;

    background-color: var(--brand-main);
    color: var(--white);

    &.large{
        width: 100%; 
    }

    &.medium{
        width: 66.7%;;
        gap: 16px;
    }

    &.small{
        width: 50%; 
        gap: 16px;
    }

    span {
        display: flex;
        align-items: center;

        @include Paragraph-02;
        text-align: center;
    }
}
