@use '@/styles/index' as *;

.button {
  display: inline-flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .label {
    @include Paragraph-02;
  }
}

.bank-positive {
  border-radius: 999px;
  border: 1px solid var(--brandColor-border);

  .label {
    color: var(--brandColor-main);
  }
}

.d-day {
  border-radius: 999px;
  border: 1px solid var(--subColor-border);

  .label {
    color: var(--subColor-main);
  }
}
