:root {
  --overlayColor: rgba(0, 0, 0, 0.5);

  --textColor-main: #333333;
  --textColor-sub: #555555;
  --textColor-less: #767676;

  --lineColor-main: #eeeeee;
  --lineColor-sub: #cccccc;

  --white: #ffffff;
  --white-less: #f9f9f9;

  --brandColor-main: #ff6a6a;
  --brandColor-fillHover: #e05555;
  --brandColor-border: #ff9c9c;
  --borderColor-borderHover: #fff0f0;

  --subColor-border: #add8e6;
  --subColor-main: #2097bd;

  --max-width: 600px;

  // old
  --brand-main: #ff6a6a;

  --gray-1: #f9f9f9;
  --gray-2: #eeeeee;
  --gray-3: #cccccc;
  --gray-4: #767676;
  --gray-5: #333333;
  --divider-line: #eee;
  --image-outline: #ccc;

  --white: #ffffff;
  --black: #000000;

  --max-width: 600px;
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;

  height: 100%;
}

body {
  color: var(--gray-5);
  background: var(--gray-1);
  font-family: var(--font-pretendard), Arial, Helvetica, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  height: 100dvh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
