:root {
  /* primary */
  --primary-100: #ffeaea;
  --primary-200: #ffcaca;
  --primary-300: #ffa9a9;
  --primary-400: #ff8989;
  --primary-500: #ff6a6a;
  --primary-600: #e55656;
  --primary-700: #cc4a4a;

  /* secondary */
  --secondary-100: #e6f6fb;
  --secondary-200: #bae4f1;
  --secondary-300: #7ecce3;
  --secondary-400: #46b4d4;
  --secondary-500: #2097bd;
  --secondary-600: #177391;
  --secondary-700: #0e4f65;

  /* grayscale */
  --grayscale-100: #ffffff;
  --grayscale-200: #fafafa;
  --grayscale-300: #ededed;
  --grayscale-400: #cccccc;
  --grayscale-500: #767676;
  --grayscale-600: #555555;
  --grayscale-700: #222222;

  /* semantic - warning */
  --semantic-warning-100: #fff8e1;
  --semantic-warning-200: #ffecb3;
  --semantic-warning-300: #ffe082;
  --semantic-warning-400: #ffd54f;
  --semantic-warning-500: #ffc107;
  --semantic-warning-600: #ffa000;
  --semantic-warning-700: #f99502;

  /* semantic - info */
  --semantic-info-500: #2196f3;

  /* semantic - success */
  --semantic-success-100: #e8f5e9;
  --semantic-success-200: #c8e6c9;
  --semantic-success-300: #a5d6a7;
  --semantic-success-400: #81c784;
  --semantic-success-500: #4caf50;
  --semantic-success-600: #388e3c;
  --semantic-success-700: #2e7d32;

  // old
  --overlayColor: rgba(0, 0, 0, 0.5);

  --textColor-main: #333333;
  --textColor-sub: #555555;
  --textColor-less: #767676;

  --lineColor-main: #eeeeee;
  --lineColor-sub: #cccccc;

  --white: #ffffff;
  --white-less: #f9f9f9;

  --brandColor-main: #ff6a6a;
  --brandColor-fillHover: #e05555;
  --brandColor-border: #ff9c9c;
  --borderColor-borderHover: #fff0f0;

  --subColor-border: #add8e6;
  --subColor-main: #2097bd;

  --semantic-success: #008000;
  --semantic-error: #ff6a6a;
  --semantic-warning: #ffc107;
  --semantic-info: #2196f3;

  --max-width: 600px;

  // old
  --brand-main: #ff6a6a;

  --gray-1: #f9f9f9;
  --gray-2: #eeeeee;
  --gray-3: #cccccc;
  --gray-4: #767676;
  --gray-5: #333333;
  --divider-line: #eee;
  --image-outline: #ccc;

  --white: #ffffff;
  --black: #000000;

  --max-width: 600px;
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;

  height: 100%;
}

body {
  color: var(--gray-5);
  background: var(--gray-1);
  font-family: var(--font-pretendard), Arial, Helvetica, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  height: 100dvh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
